/* scss见css文件夹 */

@charset "UTF-8";
* {
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}

body {
  min-width: 1200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  /* header-banner */
  /* tntroduce css */
}
header .top {
  width: 100%;
  background-color: #fff;
  height: 62px;
  line-height: 62px;
}
header .top h1 {
  width: 70px;
  font-size: 20px;
  color: #777;
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/logo.png) no-repeat center;
  background-size: 32px;
  padding-left: 120px;
}
header .top h1.left {
  float: left;
}
header .top nav {
  float: right;
  height: 62px;
  width: 700px;
  position: relative;
}
header .top nav ul {
  padding-left: 50px;
}
header .top nav ul li {
  display: inline-block;
  padding: 0 20px;
  height: 57px;
  color: #393a3a;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
header .top nav ul li.move {
  position: absolute;
  width: 30px;
  border-top: 4px solid #E53C3C;
  left: 50px;
  top: 58px;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
header .top nav ul li:hover {
  color: #F04C57;
}
header .top nav ul li:nth-child(1):hover ~ .move {
  left: 50px;
}
header .top nav ul li:nth-child(2):hover ~ .move {
  left: 136px;
}
header .top nav ul li:nth-child(3):hover ~ .move {
  left: 238px;
}
header .top nav ul li:nth-child(4):hover ~ .move {
  left: 338px;
}
header .top nav ul li:nth-child(5):hover ~ .move {
  left: 438px;
}
header .top nav ul li:nth-child(6):hover ~ .move {
  left: 539px;
}
header .top nav ul li a.login {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/icon_user.png) no-repeat left;
  color: #ED8476;
  padding-left: 20px;
}
header .banner {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/walkman.png) no-repeat center;
  height: 690px;
  position: relative;
  width: 100%;
  background-size: cover;
}
header .banner h1,
header .banner h2,
header .banner button {
  position: absolute;
  color: #fff;
}
header .banner h1 {
  margin: 220px 100px;
  font-size: 65px;
  font-weight: 100;
}
header .banner h2 {
  margin: 300px 100px;
  font-size: 20px;
  font-weight: 100;
  padding-top: 20px;
}
header .banner button {
  margin: 410px 100px;
  width: 333px;
  height: 66px;
  border: none;
  background: #E7504D;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
header .banner button:hover {
  background-color: #E31212;
}
header .introduce {
  height: 250px;
  background: #fff;
}
header .introduce ul li {
  width: 24%;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  height: 100px;
  padding-top: 50px;
}
header .introduce ul li.list_1 {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/icon_target.png) no-repeat center;
}
header .introduce ul li.list_2 {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/icon_flag.png) no-repeat center;
}
header .introduce ul li.list_3 {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/icon_flower.png) no-repeat center;
}
header .introduce ul li.list_4 {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/icon_choice.png) no-repeat center;
}
header .introduce ul li .line {
  border-right: 2px solid #999;
  font-size: 14px;
  margin-top: 80px;
  color: #777;
}
header .introduce ul li .line.line_no {
  border: none;
}

/* section activities */
.activities .act_know {
  height: 360px;
  background: #eee;
  text-align: center;
}
.activities .act_know p {
  padding-top: 220px;
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/logo_big.png) no-repeat center 100px;
  font-size: 50px;
  color: #777;
}
.activities .act_map {
  height: 340px;
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/map.png) no-repeat center;
  text-align: center;
  color: #fff;
  background-size: cover;
}
.activities .act_map .title_1 {
  font-size: 20px;
  padding-top: 50px;
}
.activities .act_map .line_1 {
  width: 30px;
  height: 2px;
  margin: 10px auto;
  background: #fff;
}
.activities .act_map .title_2 {
  font-size: 12px;
  color: #fff;
  line-height: 50px;
}
.activities .act_map .select {
  margin-top: 30px;
  position: relative;
  display: inline-block;
}
.activities .act_map .select span {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 5px;
  margin-right: 15px;
  width: 240px;
  height: 26px;
  background-color: #fff;
  background-image: url(http://om2b9s612.bkt.clouddn.com/html/task7/down.jpg);
  background-repeat: no-repeat;
  background-position: 225px 10px;
  color: #333;
}
.activities .act_map .select span:hover + ul {
  display: block;
}
.activities .act_map .select ul {
  position: absolute;
  background: #999;
  text-align: left;
  width: 240px;
  display: none;
}
.activities .act_map .select ul li {
  padding: 5px 0 5px 10px;
}
.activities .act_map .select ul li:hover {
  background: #159;
}
.activities .act_map input[type="submit"] {
  width: 240px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border: 0;
  outline: 0;
  background-color: #BE4F48;
  color: #fff;
  letter-spacing: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.activities .act_map input[type="submit"]:hover {
  color: #E31212;
  background-color: #fff;
}
.activities .act_city {
  background: #f7f7f7;
  height: 500px;
  padding-top: 150px;
}
.activities .act_city .city {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 24%;
}
.activities .act_city .city img {
  padding: 10px;
  border: 1px solid #ddd;
}
.activities .act_city .city h4 {
  font-size: 16px;
  color: #333;
  font-weight: 200;
}
.activities .act_city .city h5 {
  font-size: 14px;
  color: #999;
  font-weight: 100;
}

/* section newWorld */
.newWorld {
  height: 1102px;
}
.newWorld .newtime {
  width: 100%;
  height: 580px;
  text-align: center;
}
.newWorld .newtime .left {
  float: left;
  height: 100%;
  width: 66.6%;
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/scokman.png) no-repeat left;
  background-size: cover;
}
.newWorld .newtime .left .mark_1 {
  padding-top: 100px;
  font-size: 50px;
  color: #fff;
}
.newWorld .newtime .left .mark_2 {
  font-size: 200px;
  color: #fff;
  height: 230px;
}
.newWorld .newtime .left .mark_3 {
  font-size: 30px;
  color: #fff;
}
.newWorld .newtime .right {
  float: right;
  width: 33.3%;
  height: 450px;
  margin-top: 130px;
}
.newWorld .newtime .right h1 {
  font-size: 20px;
}
.newWorld .newtime .right h1 span {
  color: #C00;
  font-size: 16px;
  padding-left: 5px;
}
.newWorld .newtime .right p {
  width: 300px;
  margin: 0 auto;
  text-align: left;
  line-height: 35px;
  padding-top: 40px;
  font-size: 14px;
  color: #666;
}
.newWorld .newtime .right a {
  width: 100px;
  height: 30px;
  border: 2px solid #E46868;
  color: #E46868;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 30px;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.newWorld .newtime .right a:hover {
  background-color: #F04C57;
  color: #fff;
}
.newWorld .newtime .right ul {
  margin-top: 40px;
}
.newWorld .newtime .right ul li {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid #999;
  margin: 0 5px;
  display: inline-block;
}
.newWorld .newtime .right ul li.mark_4 {
  background-color: #808080;
}
.newWorld .newer {
  text-align: center;
  width: 100%;
  height: 522px;
}
.newWorld .newer .left,
.newWorld .newer .middle {
  float: left;
  height: 522px;
  width: 33.3%;
}
.newWorld .newer .left .eraCon,
.newWorld .newer .middle .eraCon {
  padding-top: 150px;
}
.newWorld .newer .left .eraCon .line_1,
.newWorld .newer .middle .eraCon .line_1 {
  width: 40px;
  height: 2px;
  margin: 20px auto;
}
.newWorld .newer .left .eraCon a,
.newWorld .newer .middle .eraCon a {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.newWorld .newer .left {
  background: #FF6347;
}
.newWorld .newer .left p {
  font-size: 20px;
  color: #fff;
  line-height: 35px;
}
.newWorld .newer .left p.line_1 {
  background: #fff;
}
.newWorld .newer .left a {
  border: 2px solid #fff;
  color: #fff;
}
.newWorld .newer .left a:hover {
  background-color: #fff;
  color: #E7504D;
}
.newWorld .newer .middle {
  background-color: #fff;
}
.newWorld .newer .middle p {
  font-size: 20px;
  line-height: 35px;
}
.newWorld .newer .middle p.line_1 {
  background: #808080;
}
.newWorld .newer .middle a {
  border: 2px solid #E7504D;
  color: #E7504D;
}
.newWorld .newer .middle a:hover {
  background-color: #F04C57;
  color: #fff;
}
.newWorld .newer .right {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/woman.png) no-repeat center;
  background-size: cover;
  float: right;
  margin: 0;
  width: 33.3%;
  height: 522px;
}

/* section becomer */
.becomer .title {
  text-align: center;
  padding: 100px 0;
}
.becomer .title .line_1 {
  width: 40px;
  height: 2px;
  margin: 10px auto;
  background: #c00;
}
.becomer .title p {
  width: 500px;
  font-size: 12px;
  color: #666;
  margin: 10px auto;
  line-height: 20px;
}
.becomer .information {
  height: 450px;
  width: 1100px;
  margin: 0 auto;
}
.becomer .information .inf_left {
  float: left;
}
.becomer .information .inf_left ul li {
  width: 350px;
  height: 130px;
}
.becomer .information .inf_left ul li .getblod {
  font-size: 18px;
}
.becomer .information .inf_left ul li .getcol {
  font-size: 12px;
  color: #aaa;
  line-height: 20px;
  margin-top: 20px;
}
.becomer .information .inf_left ul li a {
  background: url(http://om2b9s612.bkt.clouddn.com/html/task7/more.png) no-repeat left;
  padding-left: 15px;
  color: #aaa;
  float: right;
}
.becomer .information .inf_left ul li a:hover {
  color: #E31212;
}
.becomer .information .inf_right {
  float: right;
}
.becomer .information .inf_right form {
  width: 635px;
}
.becomer .information .inf_right form input {
  width: 295px;
  height: 40px;
  border: none;
  background-color: #EDEDEE;
  margin: 10px 5px;
  padding-left: 10px;
}
.becomer .information .inf_right form input.sub {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}
.becomer .information .inf_right form textarea {
  width: 97%;
  height: 100px;
  background-color: #EDEDEE;
  border: none;
  margin: 5px;
  font-size: 14px;
  padding-left: 10px;
}

/* footer */
footer {
  text-align: center;
  width: 100%;
  height: 400px;
  background-color: #778899;
  color: #fff;
}
footer .mark_5 {
  padding-top: 80px;
  font-size: 30px;
  padding-bottom: 10px;
}
footer .mark_6 {
  width: 600px;
  margin: 0 auto;
  line-height: 20px;
}
footer form {
  width: 600px;
  line-height: 80px;
  margin: 0 auto;
}
footer form input {
  border: none;
  margin-right: -5px;
}
footer form input[type="email"] {
  width: 77%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}
footer form input[type="submit"] {
  width: 20%;
  height: 40px;
  background: #696266;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
footer ul li {
  display: inline-block;
  padding: 20px;
  margin: 10px 0;
}
footer .foot {
  width: 100%;
  height: 60px;
  background-color: #667788;
}
footer .foot .foot_l {
  float: left;
  padding: 20px 0 0 100px;
}
footer .foot .foot_r a {
  float: right;
  padding: 20px 100px 0 0;
  color: #fff;
}
